#profile{
  position: fixed;
  top:0;
  left: 0;
  height: 100vh;
  background-color: rgb(29, 29, 29);
  z-index: 3;
  transition-duration: .5s;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.active{
  width: 100%;
}
.idel{
  width: 0;
}
#profileContent{
  width: 100%;
  max-width: 500px;
  padding: 2em;
}
 input , textarea{
  width: 100%;
  padding: 1em;
  border-radius: 1em;
  margin-bottom: .5em;
  resize: none;
  outline: none;
  border: 1px solid gray;

}
