<mat-card>
  <mat-card-header>
    <mat-card-title>Name</mat-card-title>
    <mat-card-subtitle>Description</mat-card-subtitle>
  </mat-card-header>
  <img matCardImage src="{{postData.imageUrl}}">
  <mat-card-content>
    {{postData.comment}}
  </mat-card-content>
  <mat-card-actions>
    <mat-icon color="warn" class="action-item">chat_bubble_outline </mat-icon>
    <mat-icon color="warn" class="action-item">favorite_border</mat-icon>
    <mat-icon color="warn" class="action-item">save</mat-icon>
  </mat-card-actions>

</mat-card>
