<mat-card>
    <mat-card-header>
        <mat-card-title>Create Post</mat-card-title>
    </mat-card-header>
    <div>
      <textarea placeholder="Type Message....."></textarea>
    </div>
    <div id="postReview" *ngIf="SelectedphotoFile">
      <img id="postReviewImage" >
    </div>
    <mat-card-actions align="end">
      <button mat-button color="warn">
        <label for="photo-upload" >
          <input type="file" accept="images/*" id="photo-upload" #selectedPhoto (change)="onPhotoSelected(selectedPhoto)">
          <mat-icon >insert_photo</mat-icon>
        </label>
      </button>
      <button mat-flat-button color="warn">Post</button>
    </mat-card-actions>
</mat-card>
